@import '~bootstrap/scss/bootstrap';
$background-color: #808080;
$divcolor: rgba($background-color, 0.4);
$divcolor1: rgba($background-color, 0.9);

.title {
  background-color: $divcolor;
  border-style: solid;
  color: white;
  float: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.form-button {
  // font-family: 'airborneregular', serif;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.modal-content {
  background-color: $divcolor1;
}

.form-control {
  background-color: $divcolor;
  border-style: inset;
}

.launch {
  // font-family: 'airborneregular', serif;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  position: relative;
  text-align: center;
}

.user-controls {
  // font-family: 'airborneregular', serif;
  display: inline-flex;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
  text-align: right;
}

.btn {
  background-color: black;
}

.emp-box {
  border-style: dashed;
  position: relative;
  height: 500px;
  width: 270px;
}

.profile-pic {
  background-image: url('public/profile-icon.jpg');
  background-size: contain;
  border-radius: 50%;
  border-style: solid;
  height: 100px;
  margin-top: 30px;
  width: 100px;
}
